*{
        font-family: "Roboto", sans-serif;
        margin: 0;
        box-sizing: border-box;
        padding: 0;
      }

      body{
        background: url(cool_background.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        width: 100%;
      }

      .container{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }

      .form-box{
        position: relative;
        width: 400px;
        height: 550px;
        border: 1px solid white;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
      }

      h2{
        color: white;
        text-align: center;
        font-size: 30px;
      }

      .form-box .input-box{
        margin: 30px 0;
        width: 300px;
        border-bottom: 2px solid white;
      }

      .form-box .input-box input{
        width: 300px;
        height: 40px;
        background: transparent;
        outline: none;
        border: none;
        padding: 20px;
        font-size: 15px;
        position: relative;
      }

      i{
        color: white;
        right: 55px;
        position: absolute; 
      }

      input::placeholder{
        color: white;
      }

      .btn{
        color: white;
        background: rgb(2, 37, 44);
        padding: 10px 20px;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 3px 0 10px rgba(0, 0, 0, 0,.5);
      }

      .group{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
      }

      .group span a{
        color: white;
        position: relative;
        top: 10px;
        font-weight: 500px;
        text-decoration: none;
      }

      #result{
        color: red;
        font-weight: 600;
        margin-top: 20px;
        text-align: center;
      }

      .popup{
        width: 400px;
        /* height: 400px; */
        text-align: center;
        background-color: white;
        border-radius: 6px;
        position: absolute;
        padding: 20px;
        top: 0;
        left: 50%;
        transform: translate(-50%, 50%) scale(1);
        transition: transform .4s, top -4s;
        visibility: hidden;
      }

      .popup button{
        width: 100%;
        background-color: rgb(6, 205, 145);
        padding: 10px 0;
        margin-top: 50px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0,.1);
      }

      .popup a {
        color: white;
        text-decoration: none;
        font-weight: 300px;
        letter-spacing: 5px;
      }

      .open-slide{
        top: 50%;
        transform: translate(-50%) scale(1);
        visibility: visible !important;
      } 

      
      

      .group a:focus{
        text-decoration: underline;
      }